.idea/
*/logs/
configs/database/
configs/clash/config.yaml
configs/clash/sever_info.py
scripts/result/
scripts/origin/
*__pycache__*
runtime/
vendor/clash-for-linux/
vendor/clash_build/
clash-for-linux/
.vscode/
/REMOTE_SERVER_ACCESS.md
scripts/result/
scripts/origin/
